/www/temp-multi.html
/www/temp-single.html
/www/temp-single-2.html
/www/temp-single-3.html
/www/temp-single-3-anzeige.html
/temp-config.txt
/temp-config-2.txt
/temp-config-anzeige.txt
/temp-config-3-anzeige.txt
/temp-config-3.txt
/temp-config-4.txt
/temp-config-5.txt
/www/temp-single-4.html
