body { 
    background-color: dimgrey; text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif; color: white 
}

.values {
    position: relative; margin-left: 3%; margin-top: 1%; font-size: 27px; font-weight: 900
}

.value {
    float: left; width: 31%; margin-right: 0.5%; margin-bottom: 1%; margin-left: 0.5%;
}

.tag {

}

.field {
      font-size: 30px
}

/*.tag {*/
/*    display: grid; font-size: 23px*/
/*}*/

/*.field {*/
/*    display: grid; font-size: 30px*/
/*}*/

.box { 
    border: 5px solid darkgreen; background-color: lightgreen; color:black 
}

.box-orange { 
    border: 5px solid darkorange; background-color: peachpuff; color: black 
}

.box-red { 
    border: 5px solid darkred; background-color: lightpink; color: black 
}

.box-blue { 
    border: 5px solid darkblue; background-color: lightblue; color: black 
}

.box-none { 
    border: 5px solid darkgray; background-color: lightgray; color: black 
}
